<div class="fixed-heading">
  <div class="d-flex flex-row my-4 sticky-top justify-content-between list-heading">
    <span class="font-size-24 bold">{{title}}</span>
    <div class="d-flex flex-row input-container light-grey">
      <img class="icon me-2" src="assets/svg/search.svg"/>
      <input (keyup)="onKeyUp($event)" [placeholder]="inputPlaceholder" type="text" class="input" />
    </div>
    <button (click)="addBrandClicked()" class="btn blue white-color btn-brand font-size-14">{{btnText}}</button>
  </div>
</div>
<div class="separator">
  <div *ngIf="!loading; else elseLoading">
    <ng-content select="[contentItem]" ></ng-content>
  </div>
  <ng-template #elseLoading>
    <div class="d-flex centered" *ngIf="loading">
      <img class="loading" src="assets/svg/Gear-loading.svg"/>
    </div>
  </ng-template>
</div>
