.black{
  background-color: #323435;
}

.gray{
  background-color: #8C8C8C;
}

.primary-black{
  background-color: #2F465F;
}

.blue{
  background-color: #0F5EDD;
}

.green{
  background-color: #1F7B4D;
}

.light-grey{
  background-color: #F1F1F1;
}

.light-green{
  background-color: #0FC97B;
}


// color
.black-color{
  color: #323435;
}

.white-color{
  color: white;
}

.gray-color{
  color: #8C8C8C;
}

.primary-black-color{
  color: #2F465F;
}

.blue-color{
  color: #0F5EDD;
}

.green-color{
  color: #1F7B4D;
}

.light-grey-color{
  color: #F1F1F1;
}

.light-green-color{
  color: #0FC97B;
}

.border-grey{
  border-color: #B4B4B4
}

.cursor-pointer{
  cursor: pointer;
}

.centered{
  align-items: center;
  justify-content: center;
}

.bold{
  font-weight: bold;
}

.semi-bold{
  font-weight: 500;
}

.font-size-24{
  font-size: 24px;
}

.font-size-14{
  font-size: 14px;
}

.font-size-20{
  font-size: 20px;
}

.font-size-16{
  font-size: 16px;
}
