<div class="sidebar black">
  <img class="mb-4 logo" src="assets/svg/ucars-logo.svg" />
  <div class="item-list">
    <div class="d-flex flex-row gray-color align-items-center justify-content-start item cursor-pointer">
      <img class="me-2" src="assets/svg/clarity_car-line.svg"/>
      <span class="ms-3">Car Brand</span>
    </div>
    <div class="d-flex flex-row gray-color align-items-center active justify-content-start item cursor-pointer">
      <img class="me-2" src="assets/svg/clarity_car-line.svg"/>
      <span class="ms-3">Car Model</span>
    </div>
  </div>
</div>
